.baseContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.baseInnerContainer {
  display: flex;
  width: 300px;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 5px rgba(135, 135, 135, 0.25);
}

.logoImage {
  margin-bottom: 1rem;
  width: 80px;
}

.formHeading {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}

.reusableInput {
  width: 100%;
  border: 1px solid #f0ce1b;
  border-radius: 5px;
  padding: 10px;
  font-family: Poppins;
  font-size: 14px;
  outline: none;
}

.authenticationFields {
  width: 90%;
  margin-bottom: 10px;
}
.eyeIcon {
  width: 100%;
  position: relative;
}

.eyeIcon input {
  width: 100%;
}

.eyeIconClosed,
.eyeIconCpened {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}

.eyeIconOpened {
  color: #f0ce1b;
}
.forgotLink {
  color: #f0ce1b;
  font-family: Poppins;
  margin-bottom: 10px;
  text-decoration: none;
  width: 90%;
  text-align: end;
}

.ques {
  font-family: Poppins;
  font-size: 16px;
  margin-top: 10px;
}

.routeLink,
.googleAuth {
  text-decoration: none;
  color: #f0ce1b;
  font-family: Poppins;
  font-size: 16px;
}

.routeLink {
  margin-left: 10px;
}

.routeLink:hover,
.googleAuth:hover,
.forgotLink:hover {
  text-decoration: underline;
}

.orSection {
  display: flex;
  align-items: center;
  margin: 20px 0px 10px 0px;
}

.orText {
  margin-left: 10px;
  margin-right: 10px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
}

.line1,
.line2 {
  background-color: #000000;
  width: 100px;
  height: 1px;
  font-weight: 600;
  border: none;
}

.googleIcon {
  margin-top: 10px;
  width: 20px;
}

.backwardArrow {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f0ce1b;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 10px;
}
