.baseContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.baseInnerContainer {
  display: flex;
  width: 300px;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 5px rgba(135, 135, 135, 0.25);
}

.baseInnerContainer.dark-theme {
  background-color: #001E3C;
  box-shadow: none;
  border: 1px solid lightgray;
}

.logoImage {
  width: 80px;
  margin-bottom: 1rem;
  border-radius: 5%;
}

.formHeading {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}

.reusableInput {
  width: 100%;
  border: 1px solid #f0ce1b;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.authenticationFields {
  display: flex;
    flex-direction: column;
  width: 90%;
  row-gap: 10px;
    margin-bottom: 10px;
}

.eyeIcon {
  width: 100%;
  position: relative;
}

.eyeIcon input {
  width: 100%;
}

.eyeIconClosed,
.eyeIconOpened {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}

.eyeIconOpened.dark-theme {
  background-color: white;
  color: #f0ce1b;
}

.eyeIconClosed.dark-theme {
  background-color: white;
  color: black;
}

.eyeIconOpened.light-theme {
  color: #f0ce1b;
}

.eyeIconClosed.light-theme {
  color: black;
}

.forgotLink {
  width: 90%;
  color: #f0ce1b;
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: end;
}

.errorMessage {
  color: red;
  font-size: 14px;
    margin-top: 10px;
    }
    
    .question {
      font-size: 14px;
      margin-top: 10px;
}

.routeLink,
.googleAuth {
  text-decoration: none;
  color: #f0ce1b;
  font-size: 14px;
}

.routeLink {
  margin-left: 5px;
}

.routeLink:hover,
.googleAuth:hover,
.forgotLink:hover {
  text-decoration: underline;
}

.orSection {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.orText {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
}

.line1,
.line2 {
  width: 100px;
  height: 1px;
  font-weight: 600;
  background-color: gray;
  border: none;
}

.googleIcon {
  width: 20px;
  margin-top: 5px;
}

.backwardArrow {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  margin-top: 20px;
}

.backwardArrow.dark-theme {
  background-color: #f0ce1b;
  color: black;
}

.backwardArrow.light-theme {
  background-color: #f0ce1b;
  color: black;
}