.base-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base-innerContainer {
  display: flex;
  width: 300px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 5px rgba(135, 135, 135, 0.25);
}

.logo-image {
  margin-bottom: 1rem;
  width: 80px;
}

.backwardArrow {
  display: flex;
  color: #f0ce1b;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.form-heading {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: #1e232c;
  margin-bottom: 10px;
}

.reusableInput {
  width: 100%;
  border: 1px solid #f0ce1b;
  border-radius: 5px;
  padding: 10px;
  color: #1e232c;
  font-family: Poppins;
  font-size: 16px;
  outline: none;
  margin-bottom: 10px;
}

.eye-icon {
  width: 100%;
  position: relative;
}

.eye-icon input {
  width: 100%;
}

.eyeIcon-closed,
.eyeIcon-opened {
  position: absolute;
  color: #232323;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}

.forgot-link {
  color: #f0ce1b;
  font-family: Poppins;
  margin-bottom: 10px;
  text-decoration: none;
  width: 100%;
  text-align: end;
}

.ques {
  color: #232323;
  font-family: Poppins;
  font-size: 16px;
  margin-top: 10px;
}

.route-link,
.google-auth {
  text-decoration: none;
  color: #f0ce1b;
  font-family: Poppins;
  font-size: 16px;
}

.route-link {
  margin-left: 10px;
}

.route-link:hover,
.google-auth:hover,
.forgot-link:hover {
  text-decoration: underline;
}

.or-section {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.or-text {
  margin-left: 10px;
  margin-right: 10px;
  color: #232323;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
}

.line1,
.line2 {
  background-color: #000000;
  width: 100px;
  height: 1px;
  font-weight: 600;
  border: none;
}

.google-icon {
  margin-top: 10px;
  width: 20px;
}
