.basePageContainer {
  height: 100%;
  width: 80%;
}

.basePageInnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 0px 60px 0px 60px;
  margin-top: 20px;
}


.searchSection {
  background-color: #ffffff;
  height: 60%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 5px rgba(135, 135, 135, 0.25);
}

.searchIcon,
.closeIcon {
  font-size: 30px;
  font-weight: 500;
  color: #232323;
  padding: 5px;
  cursor: pointer;
}

.search {
  height: 90%;
  width: 90%;
  border: none;
  padding: 5px;
  outline-color: #f0ce1b;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #474747;
}

.search::placeholder {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #232323;
}

.banner {
  width: 100%;
  height: 35%;
  padding: 10px 60px 10px 60px;
}

.selectServiceText {
  display: flex;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: #474747;
  align-items: center;
  justify-content: left;
  padding: 10px 0px 0px 60px;
}

.serviceSection {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 0px 10px 60px;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.eachService {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 75%;
  height: 80%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(135, 135, 135, 0.25);
  cursor: pointer;
  transition: 0.25s;
}

.eachService:hover {
  transform: scale(1.2);
  outline: auto;
  outline-color: #f0ce1b;
}

.serviceIcon {
  font-size: 50px;
  font-weight:bolder;
  object-fit: contain;
  color: #f0ce1b;

}

.serviceName {
  display: flex;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: #474747;
  align-items: center;
}
