.deliveredContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

.deliveredSidebar {
    width: 20%;
    height: 100%;
}

.deliveredPage {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 5% 5% 5% 5%;
    overflow-y: auto;
}


.tableContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deliveredCars {
    width: 100%;
    height: 90%;
    border-left: 2px solid #F0CE1B;
    color: #232323;
}

th {
    padding: 1%;
    background-color: #F0CE1B;
}

td {
    border-bottom: 2px solid #F0CE1B;
    border-right: 2px solid #F0CE1B;
    padding: 1%;
    cursor: pointer;
}

tr:hover {
    background-color: #F0CE1B;
}