.basePageContainer {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.homeSearch {
  display: flex;
  width: 35%;
  align-items: center;
  height: 50%;
  gap: 5px;
}

.banner {
  width: 100%;
  height: 200px;
}

.selectServiceText {
}

.eachService {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 20px;
  height: calc(100% - 300px);
  margin: auto 0;
}
