.profileContainer {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 80px 0px 20px 0px;
}

.userInfo,
.mobileNumberSection,
.switchTheme {
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
    padding: 5px 0px;
}

.profilePicture,
.mobileIcon,
.switchBtn {
    flex: 0.25;
    font-size: 40px;
    color: darkgray;
    text-align: center;
}


.userName,
.mobileNumber,
.themeText {
    flex: 0.75;
    text-align: left;
    font-size: 14px;
}