.searchSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px;
}

.searchIcon,
.closeIcon {
  cursor: pointer;
  margin-right: 5px;
}

.search {
  border: none;
  font-family: Poppins;
  color: #474747;
  outline: none;
  width: 100%;
}

.searchSection:focus-within {
  border-color: gold !important;
}
