.serviceInfoContainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 5px 5px rgba(135, 135, 135, 0.25);
  display: flex;
  flex-direction: column;
}

.serviceInfoContainer.dark-theme {
  background-color: #001E3C;
  color: white;
  box-shadow: none;
  border: 1px solid lightgray;
}

.serviceInfoContainer.light-theme {
  background-color: white;
  color: black;
}
.ownerNameSection,
.carNameSection,
.carNoSection,
.serviceNameSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  flex: 1;
}

.ownerNameText,
.carNameText,
.carNoText,
.serviceNameText {
  color: #0071E3;
  flex: 0.5;
  text-align: left;
}

.ownerNameValue,
.carNameValue,
.carNoValue,
.serviceNameValue {
  flex: 0.5;
  text-align: left;
}

.ownerNameValue {
  text-transform: uppercase;
}
.separationLine {
  width: 100%;
  height: 1px;
  background-color: #1a30ac;
  margin-bottom: 10px;
}

.scheduleStatus {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar,
.time,
.status {
  display: flex;
  align-items: center;
}

.dateValue,
.timeValue,
.statusInfo {
  font-size: 12px;
  margin-left: 5px;
}

.actionBtn {
  display: flex;
  justify-content: space-between;
}

.dotIcon {
  margin-top: 3px;
}

.greenColor {
  color: #3a7f0d;
  }
  
  .redColor {
  color: #eb4335;
}
.yellowColor {
  color: #F0CE1B;
}
