.eachCostSection {
    width: 100%;
    display: flex;
    font-size: 14px;
    flex: 1;
}

.costParticular,
.totalCostParticular {
    flex: 0.5;
    text-align: left;
    color: #1A30AC;
}

.totalCostParticular {
    font-size: 16px;
    font-weight: 500;
}

.costValue,
.totalCostValue {
    font-weight: 400;
    flex: 0.5;
        text-align: center;
}

.totalCostValue {
    font-size: 16px;
    font-weight: 500;
}

.greenColor {
    color: #3a7f0d;
}

.redColor {
    color: #eb4335;
}