.sidebarContainer {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid lightgray;
  transition: width 0.1s ease-in 0.1s;
  overflow: hidden;
}

.sidebarHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gold;
  height: 80px;
}

.sidebarHeader img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.sidebarHeader .displayUsername {
  font-size: 12px;
  font-weight: 500;
}

.hideSidebar {
  width: 50px;
}

.hideSidebar img {
  width: 30px;
  height: 30px;
}

.hideSidebar .displayUsername {
  display: none;
}

.sidebarOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eachOption {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px 0;
  text-decoration: none;
  border-left: 5px solid transparent;
}

.dark-theme .eachOption {
  color: white;
}
.light-theme .eachOption {
  color: black;
}

.dark-theme .eachOption:hover {
  background-color: #f0ce1b;
  border-left: 5px solid orange;
}

.light-theme .eachOption:hover {
  background-color: #fff1da;
  border-left: 5px solid #f0ce1b;
}

@media only screen and (max-width: 900px) {
  .sidebarContainer {
    width: 50px;
  }
  .sidebarOptionText {
    width: 0;
  }

  .menuIcon {
    display: none;
  }
}

.sidebarIcon {
  margin-left: 15px;
}

.sidebarOptionText {
  transition: all 0.1s ease-out 0.1s;
  margin-left: 15px;
  font-size: 16px;
}

.animate-text {
  opacity: 0;
  width: 0;
}
