.sidebarContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  justify-content: left;
  box-shadow: 10px 10px 10px 10px rgba(135, 135, 135, 0.25);  
}

.homeIcon,
.offerIcon,
.profileIcon,
.upcomingIcon,
.outgoingIcon,
.scheduleIcon {
  font-size: 150%;
  color: #232323;
}

.displayName {
  font-family: Roboto;
  font-size: 90%;
    font-weight: 600;
  color: #474747;
}

.homeText,
.offersText,
.profileText,
.upcomingText,
.outgoingText,
.scheduleText {
  font-family: Poppins;
  font-size: 100%;
  font-weight: 500;
  color: #232323;
}

.menuSection,
.homeSection,
.offerSection,
.profileSection,
.upcomingSection,
.outgoingSection,
.scheduleSection {
  width: 90%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  padding: 10% 10% 10% 10%;
    gap: 3%;
  border-radius: 0px 7px 7px 0px;
  margin: 0 0 7.5% 0;
  transition: 0.2s;
  box-shadow: 0px 5px 5px 5px rgba(135, 135, 135, 0.25);
}

.menuSection {
  height: 10%;
    margin: 5% 0 0 0;
    padding: 0;
  box-shadow: none;
  display: flex;
    justify-content: space-between;
}

.logo {
  width: 60%;
    height: 75%;
    object-fit: contain;
}

.homeSection:hover,
.offerSection:hover,
.profileSection:hover,
.upcomingSection:hover,
.outgoingSection:hover,
.scheduleSection:hover {
  background-color: #f0ce1b;
  transform: scale(1.125);
}
