.upcomingContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #ffffff;
  }
.upcomingSidebar {
  width: 20%;
  height: 100%;
}

.upcomingPage {
  width: 80%;
  height: 100%;
}